h1,
h2,
h3,
h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

header.row {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 3%;
}

.loo-container {
    margin-bottom: 15px;
    position: relative;
    overflow: hidden;
}

.loo-container h2 {
    color: #fff;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 10px;
}

.loo {
    text-align: center;
    width: calc(100% * 2);
    overflow: hidden;
    position: relative;

    -webkit-transition: left 0.5s;
    -moz-transition: left 0.5s;
    transition: left 0.5s;
}

.loo h3 {
    color: #fff;
}

.loo .loo-available,
.loo .loo-unavailable {
    float: left;
    width: 50%;
    padding-top: 70px;
    padding-bottom: 10px;
}

.loo .loo-available {
    background: #2ecc71;
}

.loo .loo-unavailable {
    background: #e74c3c;
}

@media only screen and (max-width: 40em) {
    header svg {
        width: 60px;
        height: 80px;
    }

    .loo .loo-available,
    .loo .loo-unavailable {
        padding-top: 50px;
    }
}

table.stats td {
    padding: 10px;
    border-bottom: 1px solid #bebebe;
}

table.stats tr td:first-child {
    font-weight: 500;
}

table.stats tr:last-child td {
    border-bottom: none;
}

#stats_graph {
    margin-top: 50px;
}

.loo-stats h2 {
    text-align: center;
}

.loo-stats table {
    margin: 0 auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .7);

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.overlay-text {
    width: 100%;
    text-align: center;
    color: #fff;
    position: relative;
    top: 50%;
    font-size: 2rem;
    line-height: 7rem;
}
