h1,
h2,
h3,
h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.loo {
    background: #2ecc71;
    padding: 10px 20px;
    text-align: center;
}

.loo.loo-unavailable {
    background: #e74c3c;
}
