{% extends "base.html" %}
{% block title %}Stats{% endblock %}

{% block head %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js"></script>
    <script src="//code.highcharts.com/highcharts.js"></script>
    <script src="{{ url_for('static', filename='js/build/stats.js') }}" /></script>
{% endblock %}

{% block header_text %}
LooServer: Last 24 hours
{% endblock %}

{% block content %}
<div id="stats_last_24"></div>
<div id="stats_graph"></div>

<script type="text/javascript" charset="utf-8">
    var last_24 = {{ last_24|tojson|safe }};
    var forever = {{ forever|tojson|safe }};
    React.renderComponent(
        Stats({
            'data': last_24.per_loo_stats
        }), document.getElementById('stats_last_24'));

    React.renderComponent(
        StatsGraph({
            'data': last_24.total_stats
        }), document.getElementById('stats_graph'));
</script>
{% endblock %}
